/* .left-side{
    
}
.container{
    display: flex;
    flex-direction: row;
    gap: 30px ;
}
.input-file{
    
}

@media screen and(min-width:300px) and(max-width:920px){
    .container{
        display: flex;
        flex-direction:row;
        gap: 30px ;
    }
} */